/* These are some common colors,
replace all to edit them because some old browsers don't support CSS variables
textwhite: #ccc;
navbarbg: #202020;
green: rgb(0, 180, 0);
greenbg: rgba(0, 180, 0, 0.2);
select: rgb(240, 240, 240);
selectbg: rgb(240, 240, 240, 0.2);
*/

/* TODO minimise the amount of nested CSS rules,
   old browsers don't support those */

html {
	background-color: #121212;
	font-family: sans-serif;
	color: #ccc;
	line-height: 25px;
}
main {
	margin: auto;
	max-width: 800px;
	padding-left: 10px;
	padding-right: 10px;
}
body {
	margin: 0;
}
.navbarcontent a { /* Moved this navbar styling up here to maybe prevent the links from flickering on page load */
	text-decoration: none;
	color: #ccc;
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: transparent;
}
a {
	color: rgb(0, 180, 0);
	text-underline-offset: 3px;
	text-decoration-line: none;
}
h1, h2, h3, h4, h5, h6 {
	line-height: normal;
}
a:hover:not(.postpreviewlink) {	
	text-decoration-line: underline;
}



/* Headerbar stuff */
.navbar {
	background-color: #202020;
	padding-top: 2px;
}
.navbarcontent {
	max-width: 900px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.homelink {
	order: 1;
	font-size: 150%;
	font-weight: bold;
	color: rgb(0, 180, 0);
	transition: 0.4s;
}
.otherlinks {
	display: flex;
	gap: 20px;
	order: 2;
}
.navbarcontent a:hover{
	color: rgb(240, 240, 240);
	text-decoration-line: none;
}
a.activepage {
	color: rgb(0, 180, 0);
	border-color: rgb(0, 180, 0);
	border-width: 0 0 2px 0;
	text-decoration-line: none;
}
.otherlinks a {
	border-color: rgb(240, 240, 240);
	border-width: 0 0 2px 0;
	background-image: none;
	text-decoration-line: none;
}
.otherlinks a:not(.activepage):not(:hover) {
	border-color: transparent;
	border-width: 0 0 2px 0;
	background-image: none;
	text-decoration-line: none;
	transition: 0.4s;
}
.activepage:not(:hover) {
	border-color: rgb(0, 180, 0);
	@supports (background-image: linear-gradient(to top, rgba(0, 180, 0, 0.2), transparent)) { 
		background-color: transparent;
		background-image: linear-gradient(to top, rgba(0, 180, 0, 0.2), transparent);
	}
	transition: 0.4s;
}








.tagcloud {
	margin-top: 16px;
	font-size: 14px;
}
.tagcloud ul {
	list-style: none;
	padding: 0px;
	display: inline;
}
.tagcloud li {
	display: inline-block;
	margin: 0;
}
.tag, .tagcloud li {
	background:rgba(0, 180, 0, 0.2);
	border-radius: 3px;
	padding: 1px 6px 1px 6px;
}

.posttags {
	text-align: center;
	margin: 30px auto 30px auto;
	width: fit-content;
	opacity: 0.4;
}
.posttags {
	opacity: 1;
	a { /* I don't want to use nested CSS for compatibility reasons, but I can't think of a way to achieve this without nesting */
		color: rgb(0, 180, 0);
		background:rgba(0, 180, 0, 0.2);
	}
}
.posttags:not(:hover) {
	opacity: 0.5;
	transition: 0.4s;
	a {
		background: #303030;
		color: #ccc;
		opacity: 0.75;
	}
}


.pagetitle {
	text-align: center;
	font-weight: normal;
	font-size: 48px;
	margin-top: 15px;
	margin-bottom: 45px;
	line-height: normal;
}
.pagesummary {
	font-style: italic;
	margin: auto auto 40px auto;
	max-width: 500px;
	padding: 0 25px 0 25px;
	text-align: center;
}
li {
	margin-bottom: 8px;
}
code {
	padding: 8px;
	background-color: #202020;
	border-style: solid;
	border-color: #585858;
	border-radius: 10px;
	display: block;
	max-width: fit-content;
	text-wrap: wrap;
	word-wrap: break-word;
}
dt {
	margin-bottom: 5px;
}
dd, blockquote {
	margin: 0 20px 0 20px;
	border-width: 0px 0px 0px 3px;
	border-style: solid;
	border-color: #ccc;
	padding: 2px 10px 2px 8px;
}
blockquote {
	margin-left: 30px;
	padding-left: 15px;
}
.scrollabletable {
	overflow-x: auto;
}
table, th, td {
	padding: 5px;
	border: 2px solid;
	border-color: #ccc;
	border-collapse: collapse;
}
th, td {
	border: 1px solid;
}
em.green {
	color: rgb(0, 180, 0);
	font-style: normal;
	font-weight: bold;
}

img, video {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.inlineimage {
	display: inline;
	margin: 0 0 0 0;
	width: 0.8em;
}
svg {
	fill: green;
}
.figcaption {
	text-align: center;
	display: block;
	margin: 8px auto 8px auto;
	font-style: italic;
}


.footerhover:not(:hover) {
	opacity: 0.5;
	transition: 0.4s;
}
footer {
	text-align: center;
	font-size: 14px;
	clear: both;
	margin-bottom: 100px;
}
footer a {
	color: #ccc;
}
footer a:hover {
	color: rgb(0, 180, 0);
}
.footerbadges a {
	display: inline-block;
}

/* Post previews */
.postpreview {
	list-style-type: none;
	margin: auto 20px 10px 10px;
	border-width: 0px 0px 0px 3px;
	border-style: solid;
	border-color: rgb(0, 180, 0);
	padding: 2px 10px 4px 8px;
    display: inline-block;
	flex-direction: column; /* this may not be necessary */
	background-size: 20px auto;
	transition: margin-left 0.1s, background-size 0.3s;
}
.postpreview:hover {
	margin-left: 15px;
	transition-timing-function: ease-out;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: rgba(0, 180, 0, 0.2);
	@supports (background-image: linear-gradient(to right, rgba(0, 180, 0, 0.2), transparent)) {
		background-color: transparent;
		background-image: linear-gradient(to right, rgba(0, 180, 0, 0.2), transparent);
	}
}
.postpreviewlink {
	text-decoration-line: none;
	color: #ccc;
}
.postpreviewtitle {
	color: rgb(0, 180, 0);
	padding-top: 0px;
}
.activateposttitleunderline:hover .postpreviewtitle {
	text-decoration: underline;
}
.postpreviewtime {
	display: grid;
	place-items: center;
	padding-right: 4px;
	padding-bottom: 2px;
	padding: 0px 4px 0 0;
}
.postpreviewtags .tag {
	padding: 0 4px 0 4px;
}
.postpreviewtime, .postpreviewtags {
	font-size: 12px;
}
.postpreviewsummary {
	padding-top: 0px;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}

.homeimage {
	display: block;
	float: right;
}
.homeimage2 {
	display: none;
	max-width: 135px;
}

/* Load comments button styling */
.loadcommentsbutton {
	margin-top: 15px;
	padding: 2px 13px 2px 13px;
	max-width: 800px;
	border-radius: 5px;
	background-color: #202020;
	border: 2px solid rgb(0, 180, 0);
	.loadcommentsicon1 {
		opacity: 0;
	}
	.loadcommentsicon2 {
		opacity: 1;
	}
	p {
		color: rgb(0, 180, 0);
	}
}
.loadcommentsbutton:not(:hover) {
	border: 2px solid transparent;
	.loadcommentsicon1 {
		opacity: 1;
		transition: 0.3s;
	}
	.loadcommentsicon2 {
		opacity: 0;
		transition: 0.3s;
	}
	p {
		color: #ccc;
		transition: 0.3s;
	}
	transition: 0.3s;
}
.loadcommentsbutton:hover {
	.loadcommentsicons {
		animation: shake 0.15s;
		animation-timing-function: linear;
	}
}
.loadcommentsbutton p {
	display: inline-block;
	text-align: center;
	font-size: large;
	vertical-align: middle;
}
.loadcommentsicons {
	display: inline-block;
	vertical-align: middle;
	margin-left: 7px;
	position: relative;
}
.loadcommentsicons img {
	max-height: 2.75em;
}
.loadcommentsicon1 {
	opacity: 1;
	position: relative;
}
.loadcommentsicon2 {
	opacity: 0;
	position: absolute;
	top: 0;
}

/* Remark42 comment box styling (can't really style it much yet) */
.remark42 {
	margin: auto;
	max-width: 800px;
}

@media (max-width: 550px) {
	.homeimage {
		max-width: 192px;
	}
}
/* Adjust responsiveness on small screens */
@media (max-width: 400px) {
	.homeimage {
		max-width: 135px;
	}

	.homelink {
		font-size: 125%;
	}
	.homelink, .otherlinks {
		gap: 10px;
	}

	.pagetitle {
		font-size: 34px;
	}
	.pagesummary {
		padding: 0 0 0 0;
	}
}
@media (max-width: 340px) {
	.navbarcontent {
		flex-direction: column;
		align-items: center;
	}
	
}
@media (max-width: 300px) {
	.homeimage {
		display: none;
	}
	.homeimage2 {
		display: block;
		float: none;
	}
	.loadcommentsbutton {
		padding: 0px 5px 0px 5px;
	}
	.loadcommentsbutton p {
		font-size: medium;
	}
	.loadcommentsicons {
		margin-left: 4px;
	}
	.loadcommentsicons img {
		max-height: 2em;
	}
}
@media (max-width: 200px) {
	.loadcommentsbutton p {
		margin: 7px;
	}
	.loadcommentsicons {
		display: none; /* screw this */
	}
}
/* Suuuuuper small screens, like smartwatches lol */
@media (max-width: 170px) {
	.homelink {
		font-size: 100%;
	}
	.otherlinks {
		flex-direction: column;
		align-items: center;
		row-gap: 4px;
	}
	main {
		padding-left: 5px;
		padding-right: 5px;
	}
}

@keyframes shake {
	0% { transform: rotate(0deg) scale(1); }
	2% { transform: rotate(30deg) scale(0.75); }
	30% { transform: rotate(-35deg) scale(0.75); }
	80% { transform: rotate(5deg); }
	100% { transform: rotate(0deg)  scale(1); }
}